.adaptive {
	padding-top: 60px;
	margin-top: 110px;
	position: relative;
	overflow: hidden;
}

.adaptive::before {
	position: absolute;
	background: url("images/adaptive_puzzle.svg") no-repeat center top;
	right: -589px;
	min-width: 100%;
	max-width: 571px;
	top: 0;
	content: "";
	min-height: 596px;
	z-index: -1;
}

.adaptive-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.adaptive__title,
.adaptive__title--highlight {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 125%;

	text-align: center;
	color: var(--dark-black);
}

.adaptive__title--highlight {
	color: var(--darker-blue);
}

.adaptive__img {
	margin-top: 50px;
	max-height: 647px;
	object-fit: contain;
}

@media screen and (max-width: 1140px) {
	.adaptive {
		margin-top: 100px;
		padding-top: 0;
		padding-bottom: 30px;
	}

	.adaptive-wrapper {
		align-items: center;
	}

	.adaptive.adaptive::before {
		background-image: none;
	}

	.adaptive__title,
	.adaptive__title--highlight {
		font-size: 30px;
	}

	.adaptive__img {
		margin-top: 40px;
		content: url("images/adaptive_img_mobile.svg");
	}
}
