.form {
	margin-top: 20px;
	width: 100%;
	position: relative;
	min-height: 1447px;

	button {
		position: relative;
		z-index: 10;
		color: red;
	}
}

.form::before {
	content: "";
	position: absolute;
	background: url("images/form_bg.svg") no-repeat center top;
	width: 100%;
	min-height: 1512px;
	top: -65px;
	z-index: -1;
}

@media screen and (max-width: 1140px) {
	.form {
		min-height: 1249px;
	}

	.form::before {
		background: url("images/form_bg_mobile.svg") no-repeat 73% top;
		min-height: 1300x;
	}
}
