.share-idea-modal {
	background-color: rgba(0, 44, 118, 0.2);
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	justify-content: center;
	align-items: center;
}
.share-idea-modal--active {
	display: flex;
}

.share-idea-modal-wrapper {
	border-radius: 10px;
	padding: 96px 81px 73px 81px;
	position: absolute;
	background-color: white;
	opacity: 1;
}

.share-idea-modal__success {
	display: flex;
	flex-direction: column;
	gap: 54px;
	padding: 154px 85px 54 85px;
	align-items: center;
	justify-content: space-between;
}

.share-idea-modal__success__label {
	font-family: Open Sans;
	font-weight: 800;
	font-size: 45px;
	line-height: 140%;

	text-align: center;
	color: #0c5adb;
}

.share-idea-modal__content,
.share-idea-modal__success {
	display: none;
}

.share-idea-modal_step--active {
	display: block;
}

.share-idea-modal__success__img-wrapper {
	position: relative;
}

.share-idea-modal__success__img-wrapper::before {
	background-image: url("images/lead_space_logo.svg");
	min-width: 80px;
	min-height: 30px;
	position: absolute;
	z-index: 5;
	top: 45%;
	transform: translateY(-50%);
	left: 20%;
	content: "";
}

.share-idea-modal__close-btn {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(12, 90, 219, 1);
	border-radius: 50px;
	border: none;
	min-width: 60px;
	min-height: 60px;
	cursor: pointer;
}

.share-idea-modal__close-btn__img {
	min-width: 21px;
	min-height: 21px;
	margin: 0 auto;
}

.share-idea-modal__title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;

	text-align: center;
	color: #232323;
}

.share-idea-modal__form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.share-idea-form__input-group {
	position: relative;
}

.share-idea-form__input-group .share-idea-form__input-text {
	width: 100%;
	padding: 15px 0;
	border: none;
	border-bottom: 1px solid #232323;
	color: #232323;
	outline: none;
	transition: border-color 0.3s;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
}

.share-idea-form__input-group .share-idea-form__label {
	position: absolute;
	left: 0;
	top: 15px;
	color: #232323;
	pointer-events: none;
	transition: 0.3s ease all;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
}

.share-idea-form__input-group
	.share-idea-form__input-text:focus
	~ .share-idea-form__label,
.share-idea-form__input-group
	.share-idea-form__input-text:not(:placeholder-shown)
	~ .share-idea-form__label {
	top: -12px;
	left: 0;
	background: white;
	font-weight: 500;
}
.share-idea-form__checkbox-wrapper {
	margin-top: 20px;
	max-width: 400px;
	display: flex;
	width: 100%;
	gap: 12px;
	align-items: center;
}

.share-idea-form__input-checkbox {
	min-width: 24px;
	min-height: 24px;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #3a77dc;
	outline: 0;
	-webkit-appearance: none;
	appearance: none;
	padding: 0;
	position: relative;
}

.share-idea-form__input-checkbox:checked::before {
	position: absolute;
	content: "";
	background-image: url("images/check.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 5px;
	min-width: 30px;
	min-height: 24px;
}
.share-idea-form__input-checkbox:checked {
	background-color: #3a77dc;
}

.share-idea-form__agreement-text-privacy,
.share-idea-form__agreement-text {
	display: inline-block;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 12px;
	line-height: 125%;

	color: #232323;
}

.share-idea-form__btn {
	margin: 0 auto;
	min-width: 240px;
	border: none;
	border-radius: 10px;
	background-color: #0c5adb;
	padding: 21px;
	text-align: center;
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	position: relative;

	vertical-align: middle;
	color: white;
	cursor: pointer;
}

.share-idea-form__btn::after {
	background-image: url("images/email_white.svg");
	width: 22px;
	height: 18px;
	top: 50%;
	transform: translateY(-50%);
	right: 21px;
	position: absolute;
	content: "";
}

.share-idea-form__input--error {
	border-color: red;
}

.share-idea-form__input--error .share-idea-form__label {
	color: red;
}

.share-idea-form__file-wrapper {
	position: relative;
	width: 100%;
	padding: 38px 0;
}

.share-idea-form__input-file {
	width: 0;
	height: 0;
	position: absolute;
	display: block;
	z-index: -1;
}

.share-idea-form__input-file__text {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;

	color: #232323;
	padding-left: 30px;
	position: relative;
	display: inline-block;
	width: 100%;
}

.share-idea-form__input-file__text::before {
	position: absolute;
	content: "";
	background-image: url("images/clip.svg");
	background-repeat: no-repeat;
	top: -5px;
	width: 25px;
	height: 25px;
	left: 0;
}
@media screen and (max-width: 1140px) {
	.share-idea-modal-wrapper {
		padding: 50px 25px 30px 25px;
		margin: 0 10px;
	}
}

@media screen and (max-height: 840px) {
	.share-idea-modal__form {
		gap: 10px;
		margin-top: 20px;
	}

	.share-idea-form__file-wrapper {
		padding: 19px 0;
	}

	.share-idea-form__checkbox-wrapper {
		margin-top: 10px;
	}
}
