*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
a {
	text-decoration: none;
}

:root {
	--blue: #3a77dc;
	--light-blue: #3d79dd;
	--dark-blue: #0c5adb;
	--darker-blue: #1c69d4;
	--sky-blue: #d6e3f7;
	--ultra-light-blue: #709ce5;
	--grey: #616161;
	--black: #232323;
	--dark-black: #161a1d;
	--light-red: #f34590;
	--red: #db2272;
}

body {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.page-container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	z-index: 5;
}

.hero {
	width: 100%;
	position: relative;
}

.hero::before {
	content: "";
	position: absolute;
	width: 100%;
	min-height: 1492px;
	background: url("images/hero_bg.svg") no-repeat center top;
	top: -166px;
	z-index: -1;
}

.hero::after {
	background: url("images/hero_line.svg") no-repeat center top;
	content: "";
	position: absolute;
	width: 100%;
	min-height: 600px;
	top: 50%;
	transform: translateY(-32%);
	z-index: -1;
}

.hero-wrapper {
	margin-top: 57px;
}

.breadcrumb__item {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--grey);
}

.breadcrumb__item:last-child {
	color: var(--black);
}

.breadcrumb__separator {
	margin: 0 6px;
}

.hero__header {
	margin-top: 57px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.hero__header__title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: 0%;
	color: var(--black);
}

.hero__header__desc {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	color: var(--grey);
	max-width: 353px;
}

.hero__img {
	display: block;
	margin-top: 78px;
}

.hero__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__footer__btns {
	display: flex;
	gap: 30px;
}

.hero__footer__check-site {
	font-weight: 600;
	font-family: Open Sans;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	color: var(--dark-blue);
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 15px;
}

.hero__footer__check-site::after {
	display: inline-block;
	min-width: 16px;
	min-height: 12px;
	content: "";
	-webkit-mask: url("images/link_arrow.svg") no-repeat center top / contain;
	mask: url("images/link_arrow.svg") no-repeat center top / contain;
	background-color: var(--dark-blue);
	transition: background-color 0.3s ease;
	/* margin-top: 4px; */
	/* align-self: flex-end; */
}

.hero__footer__check-site:hover::after {
	background-color: var(--blue);
}

.tab::part(base) {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	color: var(--blue);

	border-radius: 60px;
	padding: 20px;
	border: 1px solid var(--blue);
	transition: all 0.2s ease;
}

.tab[active]::part(base) {
	color: white;
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
}

.tab:hover::part(base) {
	background-color: var(--blue);
	color: white;
}

.tab-group::part(tabs) {
	gap: 15px;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1140px;
}

.tab-group {
	margin: 0 auto;
	margin-top: 166px;
}

.tab-group::part(body) {
	overflow: unset;
}

.tab-panel::part(base) {
	width: 100%;
	margin-top: 30px;
}

.btn--red {
	border-radius: 10px;
	padding-top: 18px;
	padding-right: 30px;
	padding-bottom: 22px;
	padding-left: 30px;
	background: var(--red);
	color: white;
	box-shadow: 0px 5px 15px 0px #34578b4d;

	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	border: none;
	cursor: pointer;

	transition: background 0.1s ease;
}

.btn--red:hover {
	background: var(--light-red);
}

.btn--blue {
	border-radius: 10px;
	padding: 19px 30px;
	background: var(--dark-blue);
	color: white;
	box-shadow: 0px 5px 15px 0px #34578b4d;
	display: flex;
	gap: 10px;
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	border: none;
	cursor: pointer;
	align-items: center;
	justify-content: center;

	transition: background 0.1s ease;
}

.btn--blue:hover {
	background: var(--blue);
}

.form {
	min-height: 1500px;
	width: 100%;
	position: relative;
}

.form::before {
	content: "";
	position: absolute;
	background: url("images/form_bg.svg") no-repeat center top;
	width: 100%;
	min-height: 1512px;
	top: -35px;
}

@media screen and (max-width: 1140px) {
	.page-container {
		min-width: 375px;
		padding: 0 15px;
	}

	.hero-wrapper {
		margin-top: 30px;
	}

	.hero__img {
		margin-top: 29px;
	}

	.hero__header {
		margin-top: 20px;
		flex-direction: column;
	}

	.hero__header__title {
		font-size: 30px;
	}

	.hero__header__desc {
		font-size: 14px;
		line-height: 130%;
	}

	.tab::part(base) {
		padding: 12.5px 12px;
	}

	.tab-panel::part(base) {
		margin-top: 20px;
		padding-bottom: 100px;
		width: 100vw;
	}

	.tab-group {
		margin-top: 120px;
	}

	.tab-group::part(tabs) {
		padding: 0 15px;
		gap: 10px;
	}

	.hero::after {
		background-position-y: top;
		transform: translateY(-50%);
	}

	.hero__footer {
		margin-top: 14px;
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
	}

	.hero__footer__btns {
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}

	.hero::before {
		background: url("images/hero_bg_mobile.svg") no-repeat center top;
		/* background: */
		/* 	url("images/hero_bg_mobile.svg") no-repeat center center / cover; */
		/* left: -250px; */
		/* top: -250px; */
		/* top: -120px; */
		/* top: -120px; */
		/* top: -240px; */
		bottom: -150px;
		min-height: 1174px;
		top: unset;
		/* width: calc(100% + 250px); */
		/* bottom: -120px; */
	}
}

@media screen and (max-width: 720px) {
	.hero::after {
		background: url("images/hero_line_mobile.svg") no-repeat right top;
		min-height: 0;
		height: 280px;
		transform: translateY(-35%);
		right: -120px;
		width: calc(100% + 120px);
	}
}

@media screen and (max-width: 600px) {
	.hero__img {
		content: url("images/hero_img_mobile.svg");
	}
}
